body { 
    font-family:Arial, Helvetica, sans-serif;
}

/* HEADER START */
#logo {
    width: 241px; /* original size is 482x145 */
    height: 72px; /* current size is 50% */
    background-image: url("images/logo.png");
    background-size: cover;
}

/* Transcription status text */
.transtatus { 
    margin-left: 10px; 
    font-size: 12px; 
    display: inline;
}

#status { font-weight: bold;}

#uploadaudio { display: none }

/* HEADER END */
/* --------------------------*/
/* CONTENT START */

/* DIV Wrapper for all forms and buttons */
#wrapper {
    width: 97%;
    min-height: 500px; 
    background: #ddf;
    padding: 10px; 
    border: 2px solid #eee;
}

/* Columnize the two forms */
#input { float: left } /* transcription box + extract button */
#dataform { float: left; margin-left: 10px; } /* the data form */

/* Form elements */
#dataform * { margin: 2px 2px 0px 0px; }
#input textarea { resize: none; }

.input-container {
    display: flex;
    align-items: center;
}

#ai_log { font-size: 10px; }

/* END OF CONTENT */