<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
        {% if title %}
        <title>{{ title }} - Protocol Analyzer</title>
        {% else %}
        <title>Protocol Analyzer</title>
        {% endif %}
    </head>
    <body>
        <div id="logo"></div>
        <hr />
        <div>
            <button id="start">Start</button>
            <button id="stop" disabled>Stop</button>
            <script src="{{url_for('static', filename='record.js')}}"></script>
            <button id="upload-button">Upload</button> <!-- upload audio file -->
            <button id="ocr" disabled>OCR</button> <!-- placeholder for future OCR -->
            
            <div class="transtatus">Transcription Status: <span id="status">Awaiting audio</span></div>

            <form id="uploadaudio" action="{{url_for('upload_file')}}" method="POST" enctype="multipart/form-data">
                <label for="fileupload">Select an audio file:</label>
                <input type="file" id="fileupload" name="fileupload">
                <input type="submit">
            </form>
        </div>
        <hr />
        <div id="wrapper">
            <div id="input">
                <textarea id="transcribed" name="transcribed" rows="30" cols="50">Your text will be transcribed here</textarea><br />
                <input id="aicall" type="submit" name="submit" value="Extract"><!-- AI call button -->
            </div>
            <div id="dataform">
                <strong>Data to extract</strong><br />
                <button id="add-box">+</button>
                <button id="add-comment">#</button><br />
                <form method="POST" action="#">
                    <div id="form-container">
                        <div class="input-container"><input type="text" id="experiment" name="experiment" placeholder="experiment" required maxlength="256"><button class="remove-box">-</button></div>
                        <div class="input-container"><input type="text" id="campaign" name="campaign" placeholder="campaign" required maxlength="256"><button class="remove-box">-</button></div>
                        <div class="input-container"><input type="text" id="researcher" name="researcher" placeholder="researcher" required maxlength="256"><button class="remove-box">-</button></div>
                        <div class="input-container"><input type="text" id="reason" name="reason" placeholder="reason" required maxlength="256"><button class="remove-box">-</button></div>
                        <div class="input-container"><input type="text" id="organism" name="organism" placeholder="organism" required maxlength="256"><button class="remove-box">-</button></div>
                        <div class="input-container"><input type="text" id="tissue" name="tissue" placeholder="tissue" required maxlength="256"><button class="remove-box">-</button></div>
                        <div class="input-container"><textarea id="comment" name="comment" placeholder="comment" maxlength="3072" rows="5" cols="21"></textarea><button class="remove-box">-</button></div>
                    </div>
                </form>
                <script src="{{url_for('static', filename='variables.js')}}"></script>
                <script src="{{url_for('static', filename='uploads.js')}}"></script>
                <script src="{{url_for('static', filename='ai.js')}}"></script> 
            </div>
        </div>
        <div id="ai_log">Debugging log Debugging log Debugging log Debugging log Debugging log Debugging log Debugging log Debugging log Debugging log Debugging log Debugging log Debugging log Debugging log Debugging log Debugging log Debugging log </div>
    </body>
</html>
